Projects/YGFL/YGFL/obj/Debug/YGFL.csproj.FileListAbsolute.txt
Projects/YGFL/YGFL/obj/Debug/YGFL.csproj.CopyComplete
Projects/YGFL/YGFL/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Projects/YGFL/YGFL/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Projects/YGFL/YGFL/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Projects/YGFL/YGFL/bin/roslyn/vbc.rsp
Projects/YGFL/YGFL/bin/roslyn/vbc.exe.config
Projects/YGFL/YGFL/bin/roslyn/csi.rsp
Projects/YGFL/YGFL/bin/roslyn/csi.exe.config
Projects/YGFL/YGFL/bin/roslyn/csc.rsp
Projects/YGFL/YGFL/bin/roslyn/csc.exe.config
Projects/YGFL/YGFL/bin/roslyn/VBCSCompiler.exe.config
Projects/YGFL/YGFL/bin/roslyn/Microsoft.VisualBasic.Core.targets
Projects/YGFL/YGFL/bin/roslyn/Microsoft.CSharp.Core.targets
Projects/YGFL/YGFL/bin/YGFL.dll.config
Projects/YGFL/YGFL/bin/System.Web.WebPages.xml
Projects/YGFL/YGFL/bin/System.Web.WebPages.Razor.xml
Projects/YGFL/LeoAlvisService/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Projects/YGFL/LeoAlvisService/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Projects/YGFL/LeoAlvisService/obj/Debug/LeoAlvisService.csproj.FileListAbsolute.txt
Projects/YGFL/LeoAlvisService/obj/Debug/LeoAlvisService.csproj.CopyComplete
Projects/YGFL/YGFL/bin/Microsoft.AspNet.Identity.Owin.xml
Projects/YGFL/YGFL/bin/Microsoft.AspNet.Identity.EntityFramework.xml
Projects/YGFL/YGFL/bin/Microsoft.AspNet.Identity.Core.xml
Projects/YGFL/YGFL/bin/Microsoft.ApplicationInsights.xml
Projects/YGFL/YGFL/bin/Microsoft.AI.WindowsServer.xml
Projects/YGFL/YGFL/bin/Microsoft.AI.Web.xml
Projects/YGFL/YGFL/bin/Microsoft.AI.ServerTelemetryChannel.xml
Projects/YGFL/YGFL/bin/Microsoft.AI.DependencyCollector.xml
Projects/YGFL/YGFL/bin/LeoAlvisService.dll.config
Projects/YGFL/YGFL/bin/EntityFramework.xml
Projects/YGFL/YGFL/bin/EntityFramework.SqlServer.xml
Projects/YGFL/YGFL/bin/ApplicationInsights.config
Projects/YGFL/LeoAlvisService/obj/Debug/edmxResourcesToEmbed/Model/YGFL.ssdl
Projects/YGFL/LeoAlvisService/obj/Debug/edmxResourcesToEmbed/Model/YGFL.msl
Projects/YGFL/LeoAlvisService/obj/Debug/edmxResourcesToEmbed/Model/YGFL.csdl
Projects/YGFL/LeoAlvisService/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Projects/YGFL/YGFL/bin/System.Web.WebPages.Deployment.xml
Projects/YGFL/YGFL/bin/System.Web.Razor.xml
Projects/YGFL/YGFL/bin/System.Web.Optimization.xml
Projects/YGFL/YGFL/bin/System.Web.Mvc.xml
Projects/YGFL/YGFL/bin/System.Web.Helpers.xml
Projects/YGFL/YGFL/bin/Newtonsoft.Json.xml
Projects/YGFL/YGFL/bin/Microsoft.Owin.xml
Projects/YGFL/YGFL/bin/Microsoft.Owin.Security.xml
Projects/YGFL/YGFL/bin/Microsoft.Owin.Security.Twitter.xml
Projects/YGFL/YGFL/bin/Microsoft.Owin.Security.OAuth.xml
Projects/YGFL/YGFL/bin/Microsoft.Owin.Security.MicrosoftAccount.xml
Projects/YGFL/YGFL/bin/Microsoft.Owin.Security.Google.xml
Projects/YGFL/YGFL/bin/Microsoft.Owin.Security.Facebook.xml
Projects/YGFL/YGFL/bin/Microsoft.Owin.Security.Cookies.xml
Projects/YGFL/YGFL/bin/Microsoft.Owin.Host.SystemWeb.xml
Projects/YGFL/YGFL/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
Projects/YGFL/.vs/YGFL/v15/Server/sqlite3/storage.ide
Projects/YGFL/YGFL/obj/Debug/YGFL.csproj.CoreCompileInputs.cache
Projects/YGFL/YGFL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Projects/YGFL/YGFL/bin/roslyn/vbc.exe
Projects/YGFL/YGFL/bin/roslyn/csi.exe
Projects/YGFL/YGFL/bin/roslyn/csc.exe
Projects/YGFL/YGFL/bin/roslyn/VBCSCompiler.exe
Projects/YGFL/YGFL/bin/roslyn/System.Xml.XmlDocument.dll
Projects/YGFL/YGFL/bin/roslyn/System.Xml.XPath.dll
Projects/YGFL/YGFL/bin/roslyn/System.Xml.XPath.XDocument.dll
Projects/YGFL/YGFL/bin/roslyn/System.Xml.ReaderWriter.dll
Projects/YGFL/YGFL/bin/roslyn/System.ValueTuple.dll
Projects/YGFL/YGFL/bin/roslyn/System.Diagnostics.Process.dll
Projects/YGFL/YGFL/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
Projects/YGFL/YGFL/bin/roslyn/System.Console.dll
Projects/YGFL/YGFL/bin/roslyn/System.Collections.Immutable.dll
Projects/YGFL/YGFL/bin/roslyn/System.AppContext.dll
Projects/YGFL/YGFL/bin/roslyn/Microsoft.Win32.Primitives.dll
Projects/YGFL/YGFL/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
Projects/YGFL/YGFL/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
Projects/YGFL/YGFL/bin/roslyn/Microsoft.CodeAnalysis.dll
Projects/YGFL/YGFL/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
Projects/YGFL/YGFL/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
Projects/YGFL/YGFL/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
Projects/YGFL/YGFL/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
Projects/YGFL/YGFL/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
Projects/YGFL/YGFL/bin/YGFL.pdb
Projects/YGFL/YGFL/bin/YGFL.dll
Projects/YGFL/YGFL/bin/WebGrease.dll
Projects/YGFL/YGFL/bin/System.Web.WebPages.dll
Projects/YGFL/YGFL/bin/System.Web.WebPages.Razor.dll
Projects/YGFL/YGFL/bin/System.Web.WebPages.Deployment.dll
Projects/YGFL/YGFL/bin/System.Web.Razor.dll
Projects/YGFL/YGFL/bin/System.Web.Optimization.dll
Projects/YGFL/YGFL/bin/System.Web.Mvc.dll
Projects/YGFL/YGFL/bin/System.Web.Helpers.dll
Projects/YGFL/YGFL/bin/Owin.dll
Projects/YGFL/YGFL/bin/Newtonsoft.Json.dll
Projects/YGFL/YGFL/bin/Microsoft.Web.Infrastructure.dll
Projects/YGFL/YGFL/bin/roslyn/System.Threading.Thread.dll
Projects/YGFL/YGFL/bin/roslyn/System.Text.Encoding.CodePages.dll
Projects/YGFL/YGFL/bin/roslyn/System.Security.Principal.Windows.dll
Projects/YGFL/YGFL/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
Projects/YGFL/YGFL/bin/roslyn/System.Security.Cryptography.Primitives.dll
Projects/YGFL/YGFL/bin/roslyn/System.Security.Cryptography.Encoding.dll
Projects/YGFL/YGFL/bin/roslyn/System.Security.Cryptography.Algorithms.dll
Projects/YGFL/YGFL/bin/roslyn/System.Security.Claims.dll
Projects/YGFL/YGFL/bin/roslyn/System.Security.AccessControl.dll
Projects/YGFL/YGFL/bin/roslyn/System.Reflection.Metadata.dll
Projects/YGFL/YGFL/bin/roslyn/System.IO.Pipes.dll
Projects/YGFL/YGFL/bin/roslyn/System.IO.FileSystem.dll
Projects/YGFL/YGFL/bin/roslyn/System.IO.FileSystem.Primitives.dll
Projects/YGFL/YGFL/bin/roslyn/System.IO.FileSystem.DriveInfo.dll
Projects/YGFL/YGFL/bin/roslyn/System.IO.Compression.dll
Projects/YGFL/YGFL/bin/roslyn/System.Diagnostics.StackTrace.dll
Projects/YGFL/YGFL/bin/Microsoft.Owin.dll
Projects/YGFL/YGFL/bin/Microsoft.Owin.Security.dll
Projects/YGFL/YGFL/bin/Microsoft.Owin.Security.Twitter.dll
Projects/YGFL/YGFL/bin/Microsoft.Owin.Security.OAuth.dll
Projects/YGFL/YGFL/bin/Microsoft.Owin.Security.MicrosoftAccount.dll
Projects/YGFL/YGFL/bin/Microsoft.Owin.Security.Google.dll
Projects/YGFL/YGFL/bin/Microsoft.Owin.Security.Facebook.dll
Projects/YGFL/YGFL/bin/Microsoft.Owin.Security.Cookies.dll
Projects/YGFL/YGFL/bin/Microsoft.Owin.Host.SystemWeb.dll
Projects/YGFL/YGFL/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
Projects/YGFL/YGFL/bin/Microsoft.AspNet.Identity.Owin.dll
Projects/YGFL/YGFL/obj/Debug/YGFL.pdb
Projects/YGFL/YGFL/obj/Debug/YGFL.dll
Projects/YGFL/YGFL/obj/Debug/YGFL.csprojResolveAssemblyReference.cache
Projects/YGFL/YGFL/bin/Microsoft.AspNet.Identity.EntityFramework.dll
Projects/YGFL/YGFL/bin/Microsoft.AspNet.Identity.Core.dll
Projects/YGFL/YGFL/bin/Microsoft.ApplicationInsights.dll
Projects/YGFL/YGFL/bin/Microsoft.AI.WindowsServer.dll
Projects/YGFL/YGFL/bin/Microsoft.AI.Web.dll
Projects/YGFL/YGFL/bin/Microsoft.AI.ServerTelemetryChannel.dll
Projects/YGFL/YGFL/bin/Microsoft.AI.PerfCounterCollector.dll
Projects/YGFL/YGFL/bin/Microsoft.AI.DependencyCollector.dll
Projects/YGFL/YGFL/bin/Microsoft.AI.Agent.Intercept.dll
Projects/YGFL/YGFL/bin/LeoAlvisService.pdb
Projects/YGFL/YGFL/bin/LeoAlvisService.dll
Projects/YGFL/YGFL/bin/EntityFramework.dll
Projects/YGFL/YGFL/bin/EntityFramework.SqlServer.dll
Projects/YGFL/YGFL/bin/Antlr3.Runtime.pdb
Projects/YGFL/YGFL/bin/Antlr3.Runtime.dll
Projects/YGFL/LeoAlvisService/obj/Debug/TempPE/Model.YGFL.cs.dll
Projects/YGFL/LeoAlvisService/obj/Debug/TempPE/Model.YGFL.Designer.cs.dll
Projects/YGFL/LeoAlvisService/obj/Debug/TempPE/Model.YGFL.Context.cs.dll
Projects/YGFL/LeoAlvisService/obj/Debug/LeoAlvisService.pdb
Projects/YGFL/LeoAlvisService/obj/Debug/LeoAlvisService.dll
Projects/YGFL/LeoAlvisService/obj/Debug/LeoAlvisService.csprojResolveAssemblyReference.cache
Projects/YGFL/LeoAlvisService/obj/Debug/LeoAlvisService.csproj.CoreCompileInputs.cache
Projects/YGFL/LeoAlvisService/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Projects/YGFL/LeoAlvisService/bin/Debug/LeoAlvisService.pdb
Projects/YGFL/LeoAlvisService/bin/Debug/LeoAlvisService.dll
Projects/YGFL/LeoAlvisService/bin/Debug/EntityFramework.dll
Projects/YGFL/LeoAlvisService/bin/Debug/EntityFramework.SqlServer.dll
Projects/YGFL/YGFL/obj/Debug/build.force
Projects/YGFL/LeoAlvisService/bin/Debug/LeoAlvisService.dll.config
Projects/YGFL/.vs/YGFL/v15/sqlite3/storage.ide
Projects/YGFL/.vs/YGFL/v15/.suo
Projects/YGFL/.vs/config/applicationhost.config
Projects/YGFL/.vs/YGFL/v15/sqlite3/storage.ide-wal
Projects/YGFL/.vs/YGFL/v15/sqlite3/storage.ide-shm
Projects/YGFL/.vs/YGFL/v15/Server/sqlite3/storage.ide-shm
Projects/YGFL/.vs/YGFL/v15/Server/sqlite3/storage.ide-wal
