@{
    ViewBag.Title = "Index";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Artist list</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index-2.html">Home</a>
            </li>
            <li class="active">
                <strong>Artist list</strong>
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">

            <div class="ibox">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a href="#" class="btn btn-primary btn-xs">Create new artist</a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row m-b-sm m-t-sm">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover dataTables-example" id="artist-table">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Name</th>
                                        <th>AvatarURL</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#artist-table").dataTable({

                "bSort": false,
                "bServerSide": true,
                "bRetrieve": true,
                "bScrollCollapse": true,
                "sAjaxSource": "@Url.Action("GetArtists", "ArtistManagement")",
                "bProcessing": true,
                "aLengthMenu": [10, 25, 50],
                "bFilter": true,
                "aoColumnDefs": [
                    {
                        "aTargets": [0],
                        "bSortable": false,
                        "sClass": "text-center mid-v-align"
                    },
                    {
                        "aTargets": [1],
                        "bSortable": false,
                        "sClass": "text-center mid-v-align"
                    },
                    {
                        "aTargets": [2],
                        "bSortable": false,
                        "sClass": "text-center mid-v-align"
                    },
                    {
                        "aTargets": [3],
                        "sClass": "text-center mid-v-align",
                        "bSortable": false,
                        "mRender": function (data, type, row) {
                            var data = row[3];
                            var artistId = row[0];
                            var artistName = row[1];
                            $edit = $('<a/>', {
                                'title':'Chỉnh sửa',
                                'class': 'btn btn-w-md btn-primary',
                                'data-action': 'open-modalCostCategory',
                                'data-type': 'edit',
                                'data-id': data,
                                'href': "@(this.Url.Action("Edit"))/"+ artistId,
                                'html': '<i class="fa fa-paste"></i> Edit'


                            });

                            $trash = $('<button/>', {
                                'class': 'btn btn-w-md btn-danger',
                                'onclick': 'Delete(' + artistId + ')',
                                'html': '<i class="fa fa-trash-o"></i> Delete'
                             });

                            return $edit[0].outerHTML +" "+ $trash[0].outerHTML;

                        },
                        "bSortable": false,
                    },
                ],
                "bAutoWidth": false,
            });

        });
    </script>
}
