<!DOCTYPE html>
<html>
<!-- Mirrored from webapplayers.com/luna_admin-v1.3/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 08 Apr 2018 11:09:02 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' rel='stylesheet' type='text/css'>
    <!-- Page title -->
    <title>LUNA | Responsive Admin Theme</title>
    @Styles.Render("~/Content/luna-main-css")
</head>
<body class="blank">
    <!-- Wrapper-->
    <div class="wrapper">

        @RenderBody()
        <!-- End main content-->
    </div>
    <!-- End wrapper-->
    @Scripts.Render("~/Content/luna-main-script")
    @RenderSection("Scripts", required: false)
</body>

<!-- Mirrored from webapplayers.com/luna_admin-v1.3/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 08 Apr 2018 11:09:02 GMT -->
</html>